
@{
    ViewData["Title"] = "Index";
    var QuestLog = ViewBag.QuestLog as List<QuestViewModel>;
}
<h1>Quest log</h1>
<p>Here's a list of ongoing quests:</p>
<ul class="questlog">
    @if(QuestLog.Count > 0)
    {
        @foreach (var quest in QuestLog)
        {
            <li class="@(quest.Complete ? "complete" : "")">
                <h5>@quest.Name @(quest.Complete ? " : Task Completed!" : "")</h5>
                <p>@quest.Description</p>
                <form action=@(quest.Complete ? "/Quest/Reset" : "/Quest/HandIn")>
                    <input type="hidden" value="@quest.Name" name="name" />
                    <button type="submit">@(quest.Complete ? "Reset" : "Turn in quest!")</button>
                </form>
            </li>
        }
    } else
    {
        <li>
            <h3>No quests</h3>
            <p>There are no quests currently recorded at the quest log. Please add a quest to begin tracking.</p>
        </li>
    }
    <li>
        <h3>New quest:</h3>
        <form action="/Quest/Add">
            <input name="title" placeholder="Title" type="text" />
            <input name="description" placeholder="Description" type="text" />
            <input name="experience" placeholder="Experience" type="number" />
            <input type="submit" value="Add quest"/>
        </form>
    </li>
</ul>